.container {
    background: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, SansSerif;
    background: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
}

li{
    list-style-type: none;
}
li img{
    margin-right: 5px;
}

a {
    color: #A4A400;
}

.heading {
    background: #F0F0F0;
    color: #A4A400;
    font-family: Lucida Sans Unicode, Helvetica, Arial, SansSerif;
    text-decoration: underline;
    letter-spacing:0.25em;
}

.main-heading {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

.other-heading {
    font-size: 18pt;
    text-align: left;
}

.link {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.link-section {
    position: relative;
    width: 260px;
    height: 15px;
    text-align: right;
    display: inline-block;

}

.valid{
    position: relative;
    margin-top: 10px;
}
.comment{
    margin: 0 5% 0 5%;
}

.comment pre{
    position: relative;
    background: #FFFFA8;
    font-style: italic;
    display: block;
    font-family: monospace;
    white-space: pre;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}