.container {
    background: #23253E;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Arial, Arial Black, Verdana;
    text-align: center;
    font-size: 18px;

}
ul,ol{
    display: inline-block;
    font-size: 14px;
}
a:link{color:#3C96EB;}
a:visited{color:#357FFF;}
